---
import { Counter } from '../components/counter';
import Layout from '../layout/layout.astro';
---

<Layout>
	<h1>Astro</h1>
	<Counter />
	<a href="/random">Cannot find inlined id problem</a>
</Layout>

<style>
	a {
		display: block;
	}
</style>