---
import { IsExpanded } from '../components/is-expanded';
import Layout from '../layout/layout.astro';
---

<Layout>
	<h1>Astro</h1>
	<IsExpanded />
	<a href="/random">Travel to random place</a>
</Layout>
