---
import { Counter } from '../components/is-expanded';
import Layout from '../layout/layout.astro';
---

<Layout>
	<h1>Astro</h1>
	<Counter />
	<a href="/random">Problem 1</a>
	<a href="/same-component">Problem 2</a>
</Layout>

<style>
	a {
		display: block;
	}
</style>