---
import Layout from '../layout/layout.astro';
import { Counter } from '../components/is-expanded';
---

<Layout>
    <h1>Astro</h1>
    <a href="/">Travel back home</a>
    <Counter />
    <p>Try clicking on the counter and check the console, it seems we get an error when the same component is used across navigations.</p>

    <p>Error: Internal assert, this is likely caused by a bug in Qwik: missing inlined function for id:</p>
</Layout>
